// COLORS

$white: #ffffff;

$bg-color: #a6dbd3;
$bg-lt-color: #d4ede9;
$bg-wt-color: $white;
$link-color: #00a0af;
$link-hover-color: #a6dbd3;
$font-color: #77787b;
$bold-color: #58595b;

// spacing

$gutter-size: 20px;