@import 'vars';
@import 'iosfix';
@import 'helpers';
@import 'typography';
@import 'navigation';
@import 'tables';
@import 'header';
@import 'footer';
@import 'content';

body {
    overflow-x: hidden;
}

#main {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 4em;
    
    > div,
    > footer {
        width: 100vw;
    }
}

#site-loader {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    
    &.hidden {
        opacity: 0;
    }
}