<div class="row">
    <div class="col-1-5">
        <img src="img/about/joeprofile.jpg" class="responsive">
        <span class="img-desc centered">Joseph Pilates<br>1880-1967</span>
    </div>
    <div class="col-1-5">
        <img src="img/about/joe-57.jpg" class="responsive">
        <span class="img-desc centered">Joseph Pilates<br>age 57</span>
    </div>
    <div class="col-3-5">
        <h1>History of Pilates</h1>
        <p>Pilates is an exercise system developed by Joseph Pilates focusing on improving 
        flexibility and strength for the entire body without building bulk. George Balanchine 
        and Martha Graham were among the many early devotees. Pilates also engages body and 
        mind by performing controlled movements on specially designed apparatus taught by 
        highly trained trainers. Rather than focusing on sets of repetitive weight-bearing 
        movements, Pilates developed a series of specialized exercises to build strength, 
        control and flexibility.</p>
        <p>There are two major elements to the Pilates method - "mat work" exercises and 
        those movements performed on equipment. Over the course of a lifetime, Joseph Pilates 
        developed hundreds of exercises using both a simple mat on the floor as well as a 
        variety of specialized equipment. The Pilates Powerhouse uses Gratz<span class="super">TM</span> 
        equipment designed to the specifications of Joseph Pilates.</p>
    </div>
</div>
<div class="row no-separator">
    <div class="col-4-5">
       <h1>Benefits of Pilates</h1>
        <ul>
            <li>Pilates is done by individuals of all ages.</li>
            <li>Pilates has been endorsed by professional dancers, artists, and athletes to improve overall 
            conditioning and prevent injury.</li>
            <li>Pilates can also be used safely by pregnant women to learn proper breathing and recover 
            body shape during and after pregnancy.</li>
            <li>Pilates increases circulation and helps to sculpt the body and strengthen the body's "powerhouse" 
            (the area between the the bottom of your ribcage and the line across your hips). </li>
            <li>People who do pilates regularly feel they have better posture, are less prone to injury, 
            and experience better overall health.</li>
        </ul>

        <p>After your very first session, you will notice a sense of elongation and the feeling of standing 
        up straighter. You will also feel the center or "core" of your body being used to initiate movement. 
        If you continue on a regular program of at least twice a week you will notice the changes to your body 
        after each session. You will feel more flexible and begin to feel firmer in your abdomen and buttocks 
        and your posture will be more upright.</p>
    </div>
    <div class="col-1-5">
        <img src="img/about/joe-82.jpg" class="responsive">
        <span class="img-desc centered" >Joseph Pilates<br>age 82</span>
    </div>
</div>
<div class="row">
    <div class="col-1-1">
        <p class="quote hook">As Joseph Pilates has said, "If coming three times a week, after 10 
        sessions you will feel better, after 20 sessions you will look better and after 30 sessions 
        you will have a new body!"</p>
    </div>
</div>
<div class="row">
    <div class="col-4-5">
        <h1>Romana's Pilates<span class="reg"></span></h1>
        <p>The Pilates Powerhouse is the only studio in Roswell and Alpharetta that teaches Classical 
        Pilates as taught by Master Teacher Romana Kryzanowska, who was trained by and taught alongside 
        Joseph H. Pilates. Emily Bradley has been teaching Pilates since 1998 and was hand picked by 
        Romana to become a Level 4 Instructor.</p>

        <p>Romana Kryzanowska was the direct prot&eacute;g&eacute; to Joe Pilates and his teachings. Her love 
        and passion for living was taught through her teaching. I feel very honored to have been able 
        to spend time learning from her and her amazing gift of getting our bodies to dance. Her legacy 
        is carried on by her daughter Master Teacher Sari Mejia Santo and grand daughter Daria Pace who 
        runs the apprentice teacher training program. There are teachers all over the world who share 
        in this community.</p>

        <p>Pilates Powerhouse is a training center for teaching Romana's Pilates<span class="reg"></span>. 
        Please contact for more information.</p>
    </div>
    <div class="col-1-5">
        <img src="img/about/romana.jpg" class="responsive">
    </div>
</div>