<div class="row">
   <div class="col-1-5">
       <img src="img/bios/emily.jpg">
       <span class="img-desc small">Emily Bradley<br><em>Owner and Certified Level 4 Pilates Instructor</em></span>
   </div>
   <div class="col-4-5">
       <h1>Emily Bradley</h1>
       <p>Emily graduated cum laude from the university of Cincinnati conservatory 
       of music in 1990, and has danced professionally for twelve years.</p>

        <p>Emily received her pilates training in New York City, under Romana Kryzanowska, 
        Master Teacher, the world-renowned prot&eacute;g&eacute; of Joseph Pilates.</p>

        <p>Emily received her certification in 1999, and is a Certified Level 4 Pilates Instructor.</p>

        <p>The Pilates Powerhouse is the only studio in Alpharetta and Roswell that teaches 
        Classical Pilates as taught by Romana Kryzanowska. Emily has been teaching Pilates 
        since 1998 and was hand picked by Romana to become a Level 4 Instructor.</p>
   </div>
</div>
<div class="row">
   <div class="col-1-5">
       <img src="img/bios/jeanne.jpg">
       <span class="img-desc small">Jeanne Deitrich<br><em>Certified Level 5+ Pilates Instructor</em></span>
   </div>
   <div class="col-4-5">
       <h1>Jeanne Deitrich</h1>
       <p>Jeanne received her ballet training at the Atlanta Ballet Centre for Dance Education, 
       Burklyn Ballet Theatre, Cincinnati Ballet and America Ballet Theatre and graduated from 
       the University of Cincinnati College-Conservatory of Music with a Master of Arts degree in 
       Arts Administration. She has worked in New York City with Frank Salomon Associates as a concert 
       and artist manager, Eliot Feld as a ballet company manager, and with the New York City Ballet 
       as a finance associate.</p>

        <p>She began her Pilates training in New York to complement her ballet studies and continued 
        after moving home to Atlanta. While recuperating from a severe dance injury, Jeanne realized 
        how Pilates could strengthen her entire body while allowing for the healing process. She decided 
        to become a Pilates instructor and received her certification with 
        Romana's Pilates<span class="reg"></span> in 2003.</p>
   </div>
</div>
<div class="row">
    <div class="col-1-5">photo</div>
    <div class="col-4-5">
        <h1>Sandra Benson</h1>
        <p>Sandra Benson, a consulting firm Vice President and a Pilates instructor/teacher trainer, 
        understands first-hand the challenges and rewards of finding the time and energy for fitness 
        in a busy, professional life. Sandra was initially certified and began teaching in 2001. In 
        2003, Sandra started training with Emily Bradley.</p>

        <p>She fell in love with the classical method and technique and became a 
        Romana's Pilates<span class="reg"></span> certified instructor in 2005. She advanced her 
        education by attending seminars and continuing education workshops nationwide and became a 
        leveled instructor in 2008. A former gymnast, she finds the studio a natural environment, 
        but continues to balance the corporate world with the physical. This is reflected in her 
        teaching style, which is informed by her business training and her passion for the classical 
        Pilates method. Sandra holds an MBA from Georgia State University.</p>
    </div>
</div>
<div class="row">
    <div class="col-1-5">photo</div>
    <div class="col-4-5">
        <h1>Jenny Dale</h1>
        <p>In 1998 Jenny started practicing Pilates at the Atlanta Ballet. She was fortunate enough 
        to meet Romana Kryzanowska and observe her teaching there. Jenny is dedicated to the method 
        and loves that anyone can practice Pilates no matter what age or shape they are in. A full 
        workout can be given even when injured because the classical Pilates method focuses on the 
        individual and correct form.</p>

        <p>Jenny has a Masters Degree in Bioinformatics from Georgia Tech. She was a researcher in 
        gene expression and disease at the Georgia Tech/Emory Department of Biomedical Engineering. 
        Hours in front of a computer took a toll on her health. Jenny decided to get out from behind 
        the desk and become a certified Romana's Pilates<span class="reg"></span> instructor. She 
        apprenticed under Emily Bradley and Robin Warden Blum. Jenny has studied with several Romana's 
        Pilates<span class="reg"></span> top teacher-trainers and tested at Joseph Pilates' original NY 
        studio with Sari Mejia Santos, Jerome Weinberg and Jamie Trout. in 2012, she looks forward to 
        sharing and expanding her knowledge and will be a lifelong student of Pilates.</p>
    </div>
</div>