<div class="row">
    <div class="col-1-1">
        <h1>Class Schedule 2015</h1>
        {{schedule}}
    </div>
</div>
<div class="row no-separator">
    <div class="col-3-4">
        <h1>Rates</h1>
        <table class="rates">
            <thead>
                <tr>
                    <td></td>
                    <td>Private Session</td>
                    <td>Duet</td>
                    <td>Mat</td>
                    <td>Tower</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Session</td>
                    <td>$70</td>
                    <td>$50</td>
                    <td>$18</td>
                    <td>$30</td>
                </tr>
                <tr>
                    <td>Series of 5</td>
                    <td>$325</td>
                    <td>$220</td>
                    <td>$150</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Series of 10</td>
                    <td>$600</td>
                    <td>$420</td>
                    <td>$230</td>
                    <td>$250</td>
                </tr>
                <tr>
                    <td>Series of 20</td>
                    <td>$1100</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1-4">
        <img src="img/classes/wunda-man.png" alt="" class="responsive">
    </div>
</div>
<div class="row">
    <p class="hook"><span class="capital bold">Introductory Special 3 Private Sessions for $150</span> <span class="quote">(0ne time only please)</span></p>

    <p><span class="capital hook">Private Sessions</span><br>Call <a href="tel:6786225269">678.622.5269</a> or email <a href="mailto:emily@pilatespowerhousestudio.com">emily@pilatespowerhousestudio.com</a> for session availability.</p>
</div>
<div class="row">
    <h1>Class Descriptions</h1>
    <table class="descriptions">
        <tr>
            <td>Mat 1</td>
            <td>Beginner: An introduction to the basic mat exercises focusing on centering and alignment.</td>
        </tr>
        <tr>
            <td>Mat 2</td>
            <td>Intermediate: A faster moving class introducing the intermediate mat exercises with a focus on breathing and alignment</td>
        </tr>
        <tr>
            <td>Mat 3</td>
            <td>Advanced: A faster moving class focusing on the Advanced mat exercise with more emphasis on rhythm and flow (Instructor's approval required to take this class.)</td>
        </tr>
        <tr>
            <td>Tower</td>
            <td>A challenging class that adds resistance by using Pilate's apparatus. Limited to three people. <span class="quote">Call to reserve a spot.</span></td>
        </tr>
    </table>
</div>
<div class="row">
   <div class="col-1-1"><h1>Private Sessions on Pilates Equipment</h1>
        <p>Enjoy a private lesson on the Reformer. The Pilates equipment can either make the Pilates exercises more rehabilitative or more challenging, whatever is applicable to your situation. Since every person's body is different, this one-on-one attention will allow you to gain feedback on your specific postural needs.</p>

        <p>Pilates on the Reformer gives you all the benefits of the mat with the additional bonus of working with or against resistance. One of the main advantages of the reformer is that it can act as a support for people who have illnesses or injuries and it can also make traditional mat exercises more difficult by providing resistance.</p>

        <p class="quote">Private sessions are by appointment only. Please call or email for session availability.</p>
    </div>
</div>
<div class="row">
   <div class="col-3-5">
       <h1>Policies</h1>
       <ul>
            <li>Strict 24-hour cancellation policy for all small group sessions (Including Privates, Duets and Tower sessions.)</li>
            <li>Cell phones must be turned off. </li>
            <li>Socks must be worn at all times.</li>
            <li>No gum please. </li>
            <li>Please no jewelry for your safety and the equipment.</li>
            <li>Please be on time.The session will not be extended.</li>
            <li>All private series are nonrefundable and must be used within 3 months of purchase. (Including Privates, Duets and Tower sessions.)</li>
            <li>All private sessions and mat classes must have a series and/or be pre-paid per session in advance.</li>
       </ul>
   </div>
   <div class="col-2-5 separated">
      <div>
            <h3>Hours of Operation</h3>
            <p>Mondays - Thursday: 7 AM - 8 PM</p>
            <p>Fridays: 7 AM - 5 PM</p>
            <p>Saturdays: 8 AM -11 AM</p>
            <p>Sunday: By Appointment</p>
      </div>
   </div>
</div>