<div class="row">
   <div class="col-3-5">
       <address>
            <span class="bold">Pilates Powerhouse, Inc.</span><br>
            1025 Canton Street<br>
            Roswell, GA 30075<br>
            T: <a href="tel:6786225269">678.622.5269</a><br>
            E: <a href="mailto:emily@pilatespowerhousestudio.com">emily@pilatespowerhousestudio.com</a><br>
       </address>
        <p>The Pilates Powerhouse Studio is located in Historic Roswell.<br>We are above The Pie Hole, across from Table &amp; Main.</p>
   </div>
    <div class="col-2-5 separated">
      <div class="bold">
            <h2 class="bold capital hook">Hours of Operation</h3>
            <p>Mondays - Thursday: 7 AM - 8 PM<br>
            Fridays: 7 AM - 5 PM<br>
            Saturdays: 8 AM -11 AM<br>
            Sunday: By Appointment</p>
      </div>
   </div>
</div>
<div class="row">
    <div id="map"></div>
</div>