<div class="row">
   <div class="col-2-3">
       <img src="img/home/studio.jpg" class="responsive">
   </div>
   <div class="col-1-3">
       <p class="hook">
           Our mission is to keep the integrity of Romana's Pilates<span class="reg"></span> alive, 
           through a positive attitude and environment. Romana's Pilates<span class="reg"></span> 
           is based on the original teachings of <strong>Joseph Pilates</strong>.
       </p>
       <p class="quote">
           "I came to my love of movement through ballet. After 12 years of dancing professionally, 
           I found Pilates - which was another way of moving and expressing my body while keeping 
           strength and flexibility. It was also a way for me to help others learn to move efficiently 
           in their daily lives. Pilates is my passion and I love helping others feel better."
       </p>
       <p class="fr">
           Emily Bradley,<br>
           Owner and <br>
           Certified Level 4 Pilates Instructor
       </p>
   </div>
</div>